/* CSS declarations go here */
body {
  font-family: sans-serif;
  color: white;
  background-color: #89499B;
  /*background-image: linear-gradient(to bottom, #315481, #918e82 100%);*/
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100%;
  background: #16031B;
}

header {
  background: #273443;
  /*background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
  padding: 20px 15px 15px 15px;
  position: relative;
}
